<div class="row">
<div class="col-md-12">
    <div class="col-md-6 col-ms-8">
        <form action="https://www.paypal.com/donate" method="post"
        target="_top"> <input type="hidden" name="hosted_button_id"
        value="SATMVMB3WA92N" /> <input type="image"
        src="https://pics.paypal.com/00/s/MmVjYTZmNGUtNzUxMy00Y2MxLTk5MWEtZjNkYTI3NzM2MjQz/file.PNG"
        border="0" name="submit" title="PayPal - The safer, easier way to pay
        online!" alt="Bouton Faites un don avec PayPal" /> <img alt=""
        border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1"
        height="1" /> </form>

          <!--div class="col-md-12 col-ms-12">
              <span>Pour les repas d'El Iftar, nous vous invitons à choisir la catégorie {{ .Get "category"}} <span>
              <img alt="Code Catégorie {{ .Get "category"}}"
                    border="0"
                    src="{{ .Get "img" }}"  />
          </div-->
    </div>

    <div class="col-md-6 col-ms-4">
      <span>Scanner le code QR suivant</span>
      <img alt="code QR Paypal ACMP"
            border="0"
            src="/img/dons/Code_QR.png"  />
    </div>
</div>
</div>
