<table style="width: 95%;background-color: #ad8f3d;">
    <tbody>
      <tr style="color: black; background-color: #e3ac46; font-size:1.2em">
        <th>&nbsp;Prière</th>
        <th>&nbsp;Nombre de rakaa</th>
        <th>&nbsp;Voix</th>
      </tr>
      <tr style="background-color: white; font-size:1.3em">
          <td>&nbsp;Sobh</td>
          <td>&nbsp;2</td>
          <td>&nbsp;Haute</td>
      </tr>
      <tr style="background-color: #eaeaea; font-size:1.3em">
        <td>&nbsp;Dhohr</td>
        <td>&nbsp;4</td>
        <td>&nbsp;Basse</td>
      </tr>
      <tr style="background-color: white; font-size:1.3em">
        <td>&nbsp;Asr</td>
        <td>&nbsp;4</td>
        <td>&nbsp;Basse</td>
      </tr>
      <tr style="background-color: #eaeaea; font-size:1.3em">
        <td>&nbsp;Maghrib</td>
        <td>&nbsp;3</td>
        <td>&nbsp;Haute</td>
      </tr>
      <tr style="background-color: white; font-size:1.3em">
        <td>&nbsp;Ishaa</td>
        <td>&nbsp;4</td>
        <td>&nbsp;Haute</td>
      </tr>
    </tbody>
</table>
